<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="generator" content=
  "HTML Tidy for Linux/x86 (vers 11 February 2007), see www.w3.org" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>{{survey.name}}</title>
  <link href=
  "http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css"
  rel="stylesheet" type="text/css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type=
  "text/javascript">
</script>
  <script src="http://ajax.microsoft.com/ajax/jquery.validate/1.5.5/jquery.validate.js"
  type="text/javascript">
</script>
  <script type="text/javascript">
//<![CDATA[
	  $.validator.addMethod("ValidTripodAdvisorUser", function(value, element) {
	  var answer;
	  res = $.ajax({
		      type : "GET",
		      url  :  "/tripod_advisor/user/validator",
		      data : {"user":value},
		      async:false,
		      dataType: "json",
		      success: function(msg)
		      {
		      	return msg.answer;
		     }
	 });
	 return JSON.parse(res.responseText).answer;
	 }, "Username not exist in TripAdvisor page, please create it if you don't have one");
    
    
    $().ready(function () {
    		$.ajax({
				      type : "POST",
				      url  : "/reports/events",
				      data : {"uuid":"{{transaction.uuid}}","event":"survey2(TripAdvisor) has been opened"},
				      async:false
	 				});
	 				
             $("#{{survey.name}}_form").validate({
             	 onfocusout: false,
      			 onkeyup: false,
                 rules: {
                     "{{survey.name}}[overall_rating]": "required",
                     "{{survey.name}}[ReviewTitle]": "required",
                     "{{survey.name}}[sort_of_trip]": "required",
                     "{{survey.name}}[review]": {
                         required: true,
                     },
                     "{{survey.name}}[TripAdvisorUser]": {
                         required: true,
                         //ValidTripodAdvisorUser: true
                     },
                     
                     
                     "{{survey.name}}[trip_date_month_year]": "required"
                 },
                 errorClass: "alert"
             });
         })
  //]]>
  </script>
  <script type="text/javascript">
//<![CDATA[
         var _veroq = _veroq || [];
         var load = function () {
             var ve = document.createElement('script');
             ve.type = 'text/javascript';
             ve.async = false;
             ve.src = 'http://www.getvero.com/assets/m.js';
             var s = document.getElementsByTagName('script')[0];
             s.parentNode.insertBefore(ve, s);
         }();
         // Initialise the library.
         _veroq.push(['init', {
                               api_key: "{{getvero.api_key}}"
                       }]);
         //login user in getvero
         _veroq.push(['user', {email: '{{user.email}}'} ]);
         //add event open survey
         _veroq.push(['track', 'has_opened_{{survey.name}}',{"uuid": '{{transaction.uuid}}'}]);
         function submit_survey(){
               var answers = jQuery("#{{survey.name}}_form").serializeArray();
               var answers_dict = {};
               for( var i in answers){
                   if(answers[i].value==="true"){
                    	answers_dict[answers[i].name] = true;
                   }
                   else if(answers[i].value==="false"){
                        answers_dict[answers[i].name] = false;
                   }
                   else{
                        answers_dict[answers[i].name] = answers[i].value;
                  }
               }
         answers_dict["email"]  = '{{user.email}}';
         //upload data to getvero
         _veroq.push(['user', answers_dict ]);
         
         //register the survey as done
         
        _veroq.push(['track', 'has_done_the_trip_advisor_survey',{"uuid": '{{transaction.uuid}}'}]);
        /*
         //upload  to the server
         $.ajax({
			      type : "POST",
			      url  :  "",
			      data : answers_dict,
			      async:false
			     });
         
         
         //translate form to tripadvisor way
         jQuery("#{{survey.name}}_form").prepend("<input type='hidden' value='{{hotel.detail}}' name='detail'>")
         
        
         
         jQuery("#ReviewTitle").attr("name","ReviewTitle")
         jQuery("#ReviewText").attr("name","ReviewText")
         jQuery("#trip_date_month_year").attr("name","trip_date_month_year")
         jQuery("#tip").attr("name","tip_body")
         
         
         jQuery("#{{survey.name}}_form").prepend("<input type='hidden' value='submit' name='submitAction'>")
         jQuery("#{{survey.name}}_form").prepend("<input type='hidden' value='1'      name='errorcheck'>")
         jQuery("#{{survey.name}}_form").prepend("<input type='hidden' value='false'  name='followup'>")
         jQuery("#{{survey.name}}_form").prepend("<input type='hidden' value='1'      name='noFraud'>")
         
         jQuery("#overall_rating_1").attr("name","qid10")
         jQuery("#overall_rating_2").attr("name","qid10")
         jQuery("#overall_rating_3").attr("name","qid10")
         jQuery("#overall_rating_4").attr("name","qid10")
         jQuery("#overall_rating_5").attr("name","qid10")
         
         jQuery("#sort_of_trip_1").attr("name","qid200")
         jQuery("#sort_of_trip_2").attr("name","qid200")
         jQuery("#sort_of_trip_3").attr("name","qid200")
         jQuery("#sort_of_trip_4").attr("name","qid200")
         jQuery("#sort_of_trip_5").attr("name","qid200")
         
         
         jQuery("#service_rating_1").attr("name","qid12")
         jQuery("#service_rating_2").attr("name","qid12")
         jQuery("#service_rating_3").attr("name","qid12")
         jQuery("#service_rating_4").attr("name","qid12")
         jQuery("#service_rating_5").attr("name","qid12")
         
         jQuery("#value_rating_1").attr("name","qid13")
         jQuery("#value_rating_2").attr("name","qid13")
         jQuery("#value_rating_3").attr("name","qid13")
         jQuery("#value_rating_4").attr("name","qid13")
         jQuery("#value_rating_5").attr("name","qid13")
         
         jQuery("#sleep_quality_rating_1").attr("name","qid190")
         jQuery("#sleep_quality_rating_2").attr("name","qid190")
         jQuery("#sleep_quality_rating_3").attr("name","qid190")
         jQuery("#sleep_quality_rating_4").attr("name","qid190")
         jQuery("#sleep_quality_rating_5").attr("name","qid190")
         
         jQuery("#cleanliness_rating_1").attr("name","qid14")
         jQuery("#cleanliness_rating_2").attr("name","qid14")
         jQuery("#cleanliness_rating_3").attr("name","qid14")
         jQuery("#cleanliness_rating_4").attr("name","qid14")
         jQuery("#cleanliness_rating_5").attr("name","qid14")
         
         jQuery("#location_rating_1").attr("name","qid47")
         jQuery("#location_rating_2").attr("name","qid47")
         jQuery("#location_rating_3").attr("name","qid47")
         jQuery("#location_rating_4").attr("name","qid47")
         jQuery("#location_rating_5").attr("name","qid47")
         
         
         jQuery("#rooms_rating_1").attr("name","qid11")
         jQuery("#rooms_rating_2").attr("name","qid11")
         jQuery("#rooms_rating_3").attr("name","qid11")
         jQuery("#rooms_rating_4").attr("name","qid11")
         jQuery("#rooms_rating_5").attr("name","qid11")
         
         
         jQuery("#spa_rating_1").attr("name","qid622")
         jQuery("#spa_rating_2").attr("name","qid622")
         jQuery("#spa_rating_3").attr("name","qid622")
         jQuery("#spa_rating_4").attr("name","qid622")
         jQuery("#spa_rating_5").attr("name","qid622")
         
         
         jQuery("#breakfast_rating_1").attr("name","qid626")
         jQuery("#breakfast_rating_2").attr("name","qid626")
         jQuery("#breakfast_rating_3").attr("name","qid626")
         jQuery("#breakfast_rating_4").attr("name","qid626")
         jQuery("#breakfast_rating_5").attr("name","qid626")


         
         jQuery("#uuid").remove();
         jQuery("#TripAdvisorUser").remove();
     
         //send form to tripadvisor
         */
         
         $.ajax({
				      type : "POST",
				      url  : "/reports/events",
				      data : {"uuid":"{{transaction.uuid}}","event":"survey2(TripAdvisor) has been done"},
				      async:false
	 			});
	 				
         jQuery("#{{survey.name}}_form").submit();
         
        
         }
  //]]>
  </script>
  <style type="text/css">
/*<![CDATA[*/
  body.c9 {padding-top:80px;}
  div.c8 {width:600px;}
  a.c7 {background-image: -webkit-linear-gradient(top, rgb(98, 196, 98), rgb(81, 163, 81)); color: rgb(255, 255, 255); background-color: rgb(81, 163, 81);float:right;}
  textarea.c6 {width:}
  textarea.c5 {width:600px;min-height:150px;}
  input.c4 {width:100%;height:30px;}
  div.c3 {height:20px;}
  div.c2 {height:40px;}
  h1.c1 {color: rgb(51, 51, 51);}
  /*]]>*/
  </style>
</head>

<body class="c9">
  <div class="container c8">
    <div>
      <h1 class="c1">Survey #2</h1>

      <p>Hi <span class="badge badge-info">{{user.First_Name}} {{user.Last_Name}}</span>,
      please fill the next questionnaire about <span class="badge badge-important">{{transaction.hotel}}</span></p>
    </div>

    <div class="c2"></div>

    <form id="{{survey.name}}_form"  method="post" name="{{survey.name}}_form" enctype="multipart/form-data">
      <input type="hidden" id="uuid" name="uuid" value="{{transaction.uuid}}" />
	  
	  <fieldset>
        <legend>Your TripAdvisor UserName</legend>

        <div class="clear c3"></div><input type="text" name=
        "{{survey.name}}[TripAdvisorUser]" id="TripAdvisorUser" class="c4" value="" />
      </fieldset>
      
      
      <fieldset>
        <legend>Your overall rating of this property</legend>

        <div class="clear c3"></div><input id="overall_rating_1" type="radio" name=
        "{{survey.name}}[overall_rating]" value="1" />1 <input id="overall_rating_2"
        type="radio" name="{{survey.name}}[overall_rating]" value="2" />2 <input id=
        "overall_rating_3" type="radio" name="{{survey.name}}[overall_rating]" value=
        "3" />3 <input id="overall_rating_4" type="radio" name=
        "{{survey.name}}[overall_rating]" value="4" />4 <input id="overall_rating_5"
        type="radio" name="{{survey.name}}[overall_rating]" value="5" />5
        <label for="{{survey.name}}[overall_rating]" style="display:none;" class="alert">This field is required</label>
      </fieldset>

      <fieldset>
        <legend>Title of your review</legend>

        <div class="clear c3"></div><input type="text" name=
        "{{survey.name}}[ReviewTitle]" id="ReviewTitle" class="c4" maxlength="120" value=
        "" />
      </fieldset>

      <fieldset>
        <legend>Your review</legend> 

        <div class="clear c3"></div>
        <textarea id="ReviewText" name="{{survey.name}}[review]" class="c5">
</textarea>
      </fieldset>

	 <fieldset>
        <legend>What sort of trip was this?</legend>

        <div class="clear c3"></div>
        <input id="sort_of_trip_1" type="radio" name="{{survey.name}}[sort_of_trip]" value="Business" />Business 
        <input id="sort_of_trip_2" type="radio" name="{{survey.name}}[sort_of_trip]" value="Couples" />Couples 
        <input id="sort_of_trip_3" type="radio" name="{{survey.name}}[sort_of_trip]" value="Family" />Family 
        <input id="sort_of_trip_4" type="radio" name="{{survey.name}}[sort_of_trip]" value="Friends" />Friends
        <input id="sort_of_trip_5" type="radio" name="{{survey.name}}[sort_of_trip]" value="Solo" />Solo
        <label for="{{survey.name}}[sort_of_trip]" style="display:none;" class="alert">This field is required</label>
      </fieldset>
	  
      <fieldset>
        <legend>When did you travel?</legend>

        <div class="clear c3"></div><select name="{{survey.name}}[trip_date_month_year]"
        id="trip_date_month_year">
          <option value="">
            Select one
          </option>
          {% for date in last_dates() %}
          <option value="{{date.nMonth}},{{date.year}}">
            {{date.sMonth}} {{date.year}}
          </option>
          {% end %}
        </select>
      </fieldset>

      <fieldset>
        <legend>Could you say a little more about it?</legend> (optional)

        <div class="clear c3"></div>

        <h5>Click to select a rating</h5>

        <div class="clear c3"></div>

        <table>
          <tbody>
            <tr>
              <td>Service</td>

              <td><input id="service_rating_1" type="radio" name=
              "{{survey.name}}[service_rating]" value="1" />1 <input id=
              "service_rating_2" type="radio" name="{{survey.name}}[service_rating]"
              value="2" />2 <input id="service_rating_3" type="radio" name=
              "{{survey.name}}[service_rating]" value="3" />3 <input id=
              "service_rating_4" type="radio" name="{{survey.name}}[service_rating]"
              value="4" />4 <input id="service_rating_5" type="radio" name=
              "{{survey.name}}[service_rating]" value="5" />5</td>
            </tr>

            <tr>
              <td>Value</td>

              <td><input id="value_rating_1" type="radio" name=
              "{{survey.name}}[value_rating]" value="1" />1 <input id="value_rating_2"
              type="radio" name="{{survey.name}}[value_rating]" value="2" />2 <input id=
              "value_rating_3" type="radio" name="{{survey.name}}[value_rating]" value=
              "3" />3 <input id="value_rating_4" type="radio" name=
              "{{survey.name}}[value_rating]" value="4" />4 <input id="value_rating_5"
              type="radio" name="{{survey.name}}[value_rating]" value="5" />5</td>
            </tr>

            <tr>
              <td>Sleep Quality</td>

              <td><input id="sleep_quality_rating_1" type="radio" name=
              "{{survey.name}}[sleep_quality_rating]" value="1" />1 <input id=
              "sleep_quality_rating_2" type="radio" name=
              "{{survey.name}}[sleep_quality_rating]" value="2" />2 <input id=
              "sleep_quality_rating_3" type="radio" name=
              "{{survey.name}}[sleep_quality_rating]" value="3" />3 <input id=
              "sleep_quality_rating_4" type="radio" name=
              "{{survey.name}}[sleep_quality_rating]" value="4" />4 <input id=
              "sleep_quality_rating_5" type="radio" name=
              "{{survey.name}}[sleep_quality_rating]" value="5" />5</td>
            </tr>


            <tr>
              <td>Location</td>

              <td><input id="location_rating_1" type="radio" name=
              "{{survey.name}}[location_rating]" value="1" />1 <input id=
              "location_rating_2" type="radio" name="{{survey.name}}[location_rating]"
              value="2" />2 <input id="location_rating_3" type="radio" name=
              "{{survey.name}}[location_rating]" value="3" />3 <input id=
              "location_rating_4" type="radio" name="{{survey.name}}[location_rating]"
              value="4" />4 <input id="location_rating_5" type="radio" name=
              "{{survey.name}}[location_rating]" value="5" />5</td>
            </tr>

            <tr>
              <td>Rooms</td>

              <td><input id="rooms_rating_1" type="radio" name=
              "{{survey.name}}[rooms_rating]" value="1" />1 <input id="rooms_rating_2"
              type="radio" name="{{survey.name}}[rooms_rating]" value="2" />2 <input id=
              "rooms_rating_3" type="radio" name="{{survey.name}}[rooms_rating]" value=
              "3" />3 <input id="rooms_rating_4" type="radio" name=
              "{{survey.name}}[rooms_rating]" value="4" />4 <input id="rooms_rating_5"
              type="radio" name="{{survey.name}}[rooms_rating]" value="5" />5</td>
            </tr>

            <tr>
              <td>Spa</td>

              <td><input id="spa_rating_1" type="radio" name=
              "{{survey.name}}[spa_rating]" value="1" />1 <input id="spa_rating_2" type=
              "radio" name="{{survey.name}}[spa_rating]" value="2" />2 <input id=
              "spa_rating_3" type="radio" name="{{survey.name}}[spa_rating]" value=
              "3" />3 <input id="spa_rating_4" type="radio" name=
              "{{survey.name}}[spa_rating]" value="4" />4 <input id="spa_rating_5" type=
              "radio" name="{{survey.name}}[spa_rating]" value="5" />5</td>
            </tr>

            <tr>
              <td>Breakfast</td>

              <td><input id="breakfast_rating_1" type="radio" name=
              "{{survey.name}}[breakfast_rating]" value="1" />1 <input id=
              "breakfast_rating_2" type="radio" name="{{survey.name}}[breakfast_rating]"
              value="2" />2 <input id="breakfast_rating_3" type="radio" name=
              "{{survey.name}}[breakfast_rating]" value="3" />3 <input id=
              "breakfast_rating_4" type="radio" name="{{survey.name}}[breakfast_rating]"
              value="4" />4 <input id="breakfast_rating_5" type="radio" name=
              "{{survey.name}}[breakfast_rating]" value="5" />5</td>
            </tr>
          </tbody>
        </table>

        <div class="clear c3"></div>

        <h5>Add a tip to help travelers choose a good room</h5>

        <div class="clear c3"></div>
        <textarea name="{{survey.name}}[tip]" id="tip" class="text c6" style="width:100%;">
</textarea>
      </fieldset>

      <p><a onclick="if(jQuery('#{{survey.name}}_form').valid()){submit_survey();}" class=
      "btn btn-success c7" href="#">Finish</a></p>
    </form>
  </div>
</body>
</html>
